{% extends "layout.html" %}
{% block body %}
  <h1>Big Secret Document {{ session.docnum }}</h1>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non leo
    ultrices, dictum ligula in, scelerisque lectus. Nulla in nunc leo. Integer
    fermentum eget neque vehicula eleifend. Praesent dolor lectus, hendrerit
    sed purus quis, posuere vulputate ante. In tempor est ipsum, in lacinia
    elit hendrerit et. Ut dolor arcu, viverra nec ipsum ut, finibus viverra
    enim. Aenean venenatis feugiat odio non venenatis. Sed sollicitudin
    tincidunt erat id vulputate. Cras maximus sem eget nibh aliquam sodales.
    Suspendisse potenti.
  </div>
  <div>
    Vivamus pulvinar tempus urna eu dignissim. Nulla imperdiet scelerisque
    magna in convallis. Nunc sollicitudin fermentum neque eget mollis. Quisque
    malesuada varius justo eu feugiat. Aliquam interdum in enim sed interdum.
    Maecenas nunc elit, ornare sit amet facilisis vel, elementum eget purus.
    Nullam bibendum risus sit amet efficitur convallis. Nullam efficitur
    luctus lacinia. Praesent libero ex, lobortis facilisis nisl id, semper
    placerat libero. Pellentesque efficitur lobortis efficitur. Morbi bibendum
    nulla dolor, eleifend iaculis turpis viverra interdum. Sed eleifend nibh
    eget libero sodales tempus. Integer augue mi, condimentum id porttitor ac,
    fringilla et augue.
  </div>
{% endblock %}
